@{
    ViewBag.Title = "База услуг";
}
<section>
    <h1 class="headtext">Клиенты</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-lg-flex justify-content-lg-center">
                <button class="btnadd" onclick="window.location = '/Home/Service_ChangePage/-1'">Добавить запись</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col justify-content-center align-items-center">
                <div></div>
                <div class="table-responsive d-lg-flex" style="margin-top: 15px;">
                    <table id="table_id" class="table">
                        <thead>
                            <tr class="tdheadselect">
                                <td class="btn-three" data-text="*Сортировка по названию">Название</td>
                                <td class="btn-three" data-text="*Сортировка по категории">Категория</td>
                                <td class="btn-too">Стоимость</td>
                                <td class="btn-too">Время работы</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var service in ViewBag.S_)
                            {
                            <tr onclick="window.location = '/Home/Service_ChangePage/@service.Id'" class="tdbodyselect">
                                <td>@service.Name</td>
                                <td>@service.Category</td>
                                <td>@service.Price</td>
                                <td>@service.TimeOfWork</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let tbody = document.querySelector("#table_id tbody");
    let rows = [...tbody.querySelectorAll("tr")];
    let columns = [...document.querySelectorAll("#table_id thead td")];
    for (let e of columns) e.onclick = td_click;

    function td_click() {
        let i = columns.indexOf(this);
        rows.sort((a, b) => a.cells[i].textContent.localeCompare(b.cells[i].textContent));
        for (let e of rows) tbody.appendChild(e);
    }
</script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/script.min.js"></script>